html,
body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

#app,
.app-container,
.main,
.home-container,
.error-container,
.loading-container {
  height: 100vh;
}

a {
  text-decoration: none;
}

.header {
  font-weight: 100;
}

.navbar {
  background: linear-gradient(-45deg, #ffee00, #0167c5);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.navbar .nav-header {
  text-align: left;
}
.navbar h1 {
  color: white;
  text-align: center;
}
.navbar div {
  display: flex;
  align-items: center;
}
.navbar input {
  width: 100%;
}
.navbar .btn {
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  .navbar h1 {
    margin: 20px auto;
  }
  .navbar .search-container {
    display: none;
  }
}

.btn {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 9px 13px;
  margin: 8px 10px;
  border: none;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.btn:active {
  background-color: #0069d9;
  border: none;
}
.btn.btn-disable {
  opacity: 0.85;
  cursor: not-allowed;
}

.btn-failure {
  background-color: #dc3545;
  border: 1px solid #fff;
}

.search-input {
  border: 1px inset #e7dddd;
  height: 34px;
  width: 196px;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
}

.home-container,
.error-container,
.loading-container {
  background: linear-gradient(-96deg, #ffee00, #0167c5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-container .search-container,
.error-container .search-container,
.loading-container .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container .header,
.error-container .header,
.loading-container .header {
  color: #fff;
  font-size: 45px;
  text-align: center;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}
@media screen and (max-width: 480px) {
  .forecast-container {
    justify-content: center;
  }
}
.forecast-container a {
  display: flex;
}
.forecast-container h1:first-child {
  flex: 0 1 100%;
  display: flex;
  justify-content: center;
  font-size: 85px;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
@media screen and (max-width: 480px) {
  .forecast-container h1:first-child {
    font-size: 45px;
  }
}
.forecast-container h2 {
  flex: 0 1 100%;
}
.forecast-container div.map-top-container {
  flex: 1 0 100%;
  height: 300px;
  margin-bottom: 8px;
}
.forecast-container .weather-img {
  height: 100%;
  width: 140px;
  max-width: 95%;
}
.forecast-container .forecast-item {
  padding: 4px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.forecast-container .sub-header,
.forecast-container .country-header {
  font-size: 30px;
  color: #333;
  text-align: center;
}
.forecast-container .sub-header {
  margin-bottom: 0;
}

h1.header.sub-header.forecast-sub {
  margin: 0;
}

.map-top-container div.marker-container {
  position: relative;
  height: 40px;
  width: 60px;
  top: -20px;
  left: -15px;
}
.map-top-container div.marker-container img.map-marker {
  width: 40%;
}

.details-top-container {
  margin-top: 5rem;
}
.details-top-container .details-container {
  width: 100%;
}
.details-top-container .details-container .details-list-container {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  text-align: center;
  font-weight: 300;
}
.details-top-container .details-container li {
  padding: 15px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.288);
}

.loading {
  font: inherit;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
